.banner {
  width: 100vw;
  height: 30rem;

  padding: 2.5rem;
  background-image: url('/Banner.svg');

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.continent_citys {
  width: 70vw;
  height: auto;
  margin-top: 1.45rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;

  > div {
    margin-top: 1rem;
  }
}